---
const title = "Tour Dates";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
    <h1>Tour Dates</h1>
    <p>Bu sayfa çalışıyor.</p>
  </body>
</html>
